Hi, <%= @order.user.name %>
pemberitahuan Order !

<p>
  <strong>Nomor Order:</strong>
  <%= @order.number %>
</p>

 <p>
 <strong> Provinsi </strong>
 <%= @order.receiver_province %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.user.email %>
</p>


<p>
  <strong>Kota</strong>
  <%= @order.receiver_city %></p>

<p>
<strong>Nama</strong>
 <%= @order.receiver_name %>
 </p>


<p>
<strong>Nomor HP</strong>
 <%= @order.receiver_mobile_number %>
 </p>


<p>
  <strong>Kode Pos:</strong>
  <%= @order.receiver_postal_code %>
</p>

<p>
  <strong>Total Harga : </strong>
  <%= number_to_currency(@order.total_all_price,unit: 'Rp. ', :precision => 0) %>
</p>

<b><p>* Silahkan Lanjutkan Transfer Sesuai Total Harga </p>
    <p>BCA 88578290 a/n Dionisius Marciano Hayong</p>
    <p>Mandiri 0388138131 a/n Dionisius Marciano Hayong </p>
    <p>BNI 31313131151 a/n Dionisius Marciano</p></b>
