<% provide(:title, 'Product For Sale | Coastline - Goods') %>

<div class="center"> <h1>Product For Sale</h1>  </div> 
  <hr>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 center">
      <%= search_form_for @search, url: search_products_path, method: :post do |f| %> 
        <div class="form-group">
          <%= f.text_field :name_cont, class: "form-control center", placeholder: "Search Products by Name" %>
        </div>
        <div class="form">
          <%= f.label :price_gteq, "Price Between" %>
          <%= f.text_field :price_gteq, class:"form-control center", placeholder: "ex: 100000", type: "number" %>
          <%= f.label :price_lteq, "To" %>
          <%= f.text_field :price_lteq, class:"form-control center", placeholder: "ex: 200000", type: "number" %>
        </div>
        <div class="field">
          Sort:
          <%= f.sort_fields do |s| %>
            <%= s.sort_select %>
          <% end %>
        </div>
          <br />
          <button class = "btn btn-primary" type="submit">Search </button>

      <% end %>
    </div>
  </div>
  <hr>
  <div class="row"> 
      <div class="col-lg-3">
        <div class="well sidebar-nav">
        <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><%= link_to "All", '/products' %></li>
            <% Category.all.each do |category| %>
            <li><%= link_to category.name, "/products?category=#{category.id}" %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-md-4">
              <div class="thumbnail">
                <%= link_to (image_tag product.image.url(:medium)),product_path(product) %>
                <div class="caption center">
                  <h3><%= product.name %></h3>
                  <h3><%= data_currency(product.price) %></h3>
                  <form class =" form-search" action = "/shopping/add_to_cart" method="post">
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <%= hidden_field_tag :product, "#{product.id}" %>
                    <div class="input-group">
                      <span class = "input-group-btn">
                        <input class = "form-control" name= "quantity" value="1" type="number" style="width: 140px;">
                        <button class = "btn btn-search" type="submit">Add to cart </button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          <% end %>
        </div> 
      </div>

    <div class="col-md-12 text-center">
      <div class="pagination">
        <% unless @products.empty? %>
          <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
        <% end %>
        </div>   
    </div> 
</div>
</div>
